.framed {
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}

body {
  background-color: #ee9c88;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-image: url(pictures/oaxacaNight.png);
  background-size: cover;
  height: 100%;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font: 24pt;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button {
    background-color: #ee9c88;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #ee9c88;
}

.button:hover {
    background-color: #ee9c88;
    color: white;
}

.correct {
  font-family: Helvetica, Arial, sans-serif;
  font: 24pt;
}

.wrong {
  font-family: Helvetica, Arial, sans-serif;
  font: 24pt;
}

/*p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14pt;
  line-height: 1.4em;
}*/

/*ul {
  list-style-type: none;
}*/
